/* Skills section styles */
.skills-section {
  padding: 3rem 2rem;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 7vw; */
}

.skills-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #ffffff;
  border-bottom: 2px solid #FF7E5F;
  padding-bottom: 0.5rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  max-width: 90vw;
  justify-content: center;
}

.skill-item {
  /* background: #ffffff0a; */
  padding: 1rem 2rem;
  border-radius: 12px;
  /* box-shadow: 0 2px 2px 1px #ff7f5f5d; */
  border: 0.1px solid #FF7E5F;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0.5rem;
  min-width: 200px;
}

@media (max-width: 700px) {
  .skills-section {
    margin-left: 0vw;
    padding: 2rem 0.5rem;
  }
  .skills-title {
    font-size: 2rem;
  }
  .skills-list {
    gap: 0.7rem;
  }
  .skill-item {
    font-size: 1rem;
    padding: 0.7rem 1.2rem;
  }
}

@media (max-width: 500px) {
  .skills-section {
    padding: 2rem 0.5rem;
  }
  .skills-title {
    font-size: 1.8rem;
  }
  .skills-list {
    gap: 0.5rem;
    width: 100vw;
  }
  .skill-item {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    min-width: 200px;
  }
}
.github-container {
    display: grid;
    place-items: center;
    /* min-height: 100vh; */
    text-align: center;
  }