.social-bar {
  box-sizing: border-box;
  width: 50px;
  margin-top: 40vh;
  height: 300px;
  background: transparent;
  position: fixed;
  z-index: 1000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 4px 4px #ff7f5f98;
}

.social-icon {
  color: #FF7E5F;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  color: #1da1f2;
  /* Default hover color */
  transform: scale(1.2);
  /* Slightly enlarge on hover */
}

.social-icon:nth-child(2):hover {
  color: #ea4335;
  /* Gmail color */
}

.social-icon:nth-child(3):hover {
  color: #333;
  /* GitHub color */
}

.social-icon:nth-child(4):hover {
  color: #1da1f2;
  /* Twitter color */
}

@media (max-width: 500px) {
  .social-bar {
    width: 90vw;
    flex-direction: row;
    height: 50px;
    margin-top: 0;
    bottom: 0;
    border: none;
    background: linear-gradient(232deg, rgba(7, 8, 8, 1) 0%, rgba(69, 46, 46, 1) 50%, rgba(0, 0, 0, 1) 100%);

  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-icon {
    font-size: 18px;
    /* Smaller icons on mobile */
  }
}