/* General Styles */
.profile-image {
  height: 50vh;
  width: 20vw;
  margin-top: 160px;
  border-radius: 40% 10px 4px 10px;  
  fill: #FF7E5F;
}

.landing-main {
  height: 100vh;
}

.bio-text {
  width: 40vw;
  margin-top: -40px;
  opacity: 0.7;
}

.intro-section {
  /* margin-left: 100px; */
  margin-top: 100px;
}

.landing-page {
  display: flex;
  color: #fff;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-name {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
  margin-bottom: 70px;
  margin-top: -20px;
}

.dynamic-role {
  color: #FF7E5F; 
  opacity: 0.8;
  font-size: 2rem;
  margin-top: 20px;
}

.social-icons {
  width: 200px;
  margin-left: 50vw;
}

.greeting {
  color: #FF7E5F;
  font-size: 2rem;
  font-weight: 100;
}

.resume-btn {
  background: linear-gradient(90deg, #FF7E5F, #FF7E5F);
  border: none;
  border-radius: 50px;
  color: white;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-top: 40px;
  text-transform: uppercase;
  transition: 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.secondary-btn {
  margin-left: 10px;
  background: none;
  border: 1px solid #FF7E5F;
}

.resume-btn:hover {
  background: transparent;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid #FF7E5F;
}

.resume-btn:active {
  background: linear-gradient(90deg, #FF7E5F, #FF7E5F);
  transform: scale(0.95);
}

.resume-btn:focus {
  outline: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .landing-page {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .profile-image {
    display: none;
  }

  .intro-section {
    margin: auto;
    text-align: center;
    width: 90vw;
    margin-top: 30px;
  }

  .bio-text {
    text-align: center;
    margin: auto;
    margin-top: -35px;
    width: 90vw;
  }

  .user-name {
    font-size: 2rem;
  }
  .dynamic-role {
    font-size: 1.2rem;
  }
  .resume-btn {
    font-size: 1rem;
    padding: 12px 20px;
  }
}
